<nb-card class="table-card" size="large">
  <nb-card-header>
    Reservations
    <div class="print-btn">
      <nb-icon icon="save-outline"></nb-icon>
    </div>
    <div class="print-btn">
      <nb-icon icon="printer-outline"></nb-icon>
    </div>
  </nb-card-header>
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Arrivals">

      <div class="slider-container">
        <ngx-data-table></ngx-data-table>
      </div>

    </nb-tab>

    <nb-tab tabTitle="Departures">

      <div class="slider-container">
        <ngx-data-table></ngx-data-table>
      </div>

    </nb-tab>

    <nb-tab tabTitle="Stay Overs">

      <div class="slider-container">
        <ngx-data-table></ngx-data-table>
      </div>

    </nb-tab>

    <nb-tab tabTitle="In-House Guests">

      <div class="slider-container">
        <ngx-data-table></ngx-data-table>
      </div>

    </nb-tab>
  </nb-tabset>
</nb-card>
